<%- include('../../partials/head.ejs') %>

</head>

<body>

  <div id='app'>

    <%- include('../../partials/navbar.ejs') %>

    <div class="main">
      <h1>User Profile</h1>
      <span><%= user.name %></span>
      <br>
    </div>

  </div>

  <span><i>user: <%= JSON.stringify(user) %></i></span>

  <%- include('../../partials/footer.ejs') %>