<%- include('../../partials/head.ejs') %>

</head>

<body>

  <div id='app'>

    <%- include('../../partials/navbar.ejs') %>

    <div class="main">
      <!-- <h1>User's Wall</h1> -->


      <div class='row toprow'>

        <div class='section-title'>
          <h3>Registered Event:</h3>
        </div>
        <div class='section-cards'>
          <%- include('../../partials/event-card.ejs') %>
        </div>
        <button class='button float'>Register for Event</button>

        <div class='section-title'>
          <h3>Your teams / You have no teams</h3>
        </div>
        <div class='section-cards'>
          <%- include('../../partials/team-card.ejs') %>
        </div>
        <button class='button float'>Create A Team</button>


      </div>



    </div>

    <%- include('../../partials/footer.ejs') %>