<%- include('../../partials/head.ejs') %>

</head>

<body>

  <div id='app'>

    <%- include('../../partials/navbar.ejs') %>

    <div class="main">
      <div class="row toprow">
        <div class='section-title'>
          <h3>Your teams: </h3>
        </div>
      </div>
      <div class="row cardrow">
        <% if (teams.length > 0) { %>
          <div class='section-cards'>
            <% for (let team of teams ) { %>
            <%- include('../../partials/team-card.ejs', {team: team}) %>
            <% } %>
          </div>
          <% } else { %>
          <h1>No Teams Yet.</h1>
          <% } %>
      </div>




        <div class="row toprow">
          <div class='section-title'>
            <h3>Explore all teams: </h3>
          </div>
        </div>
        <div class='row cardrow'>
        <% if (teams.length > 0) { %>
        <div class='section-cards'>
          <% for (let team of teams ) { %>
          <%- include('../../partials/other-team-card.ejs', {team: team}) %>
          <% } %>
        </div>
        <% } else { %>
        <h1>No Teams Yet.</h1>
        <% } %>
      </div>

    </div>

  </div>

  <span><i>teams: <%= JSON.stringify(teams) %></i></span>

  <%- include('../../partials/footer.ejs') %>