<%- include('../partials/head.ejs') %>

</head>

<body>

  <div id='app'>

    <%- include('../partials/navbar.ejs') %>

    <div class="main">

      <div class='row toprow'>
        <h3><%= event.name %></h3>
        <span><%= event.date %></span>
        <span><%= event.description %></span>
        <div class='section-title'></div>
        <div class='section-cards'></div>
        <br>
        <span>Registered teams:</span>
        <span>Information Bulletins:</span>
        <br>
        <span>DATA: <%= JSON.stringify(event) %></span>
      </div>

    </div>

    <%- include('../partials/footer.ejs') %>