<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <!-- Icon is the same as user's home page -->
      <li class="main-header__item">
        <a class="<%= path==='/user' ? 'active' : ''%>" href='/user'>
          <ion-icon name='person-circle-outline'></ion-icon>
        </a>
      </li>
      <li class="main-header__item">
        <a class="<%= path==='/teams/list' ? 'active' : ''%>" href="/teams/list">Teams</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path==='/event/mandanibaydbregatta2022' ? 'active' : ''%>"
          href="/event/mandanibaydbregatta2022">Event</a>
      </li>

      <!-- <li class="main-header__item">
        <a class="<%= path==='/' ? 'active' : ''%>" href="/">About Us</a>
      </li> -->

      <li class="main-header__item">
        <a class="<%= path==='/login-register' ? 'active' : ''%>" href="/login-register">
          Login/Register
        </a>
      </li>
      <li class="main-header__item">
        <a class="<%= path==='/user/profile' ? 'active' : ''%>" href="/user/profile">
          <ion-icon name='settings-outline'></ion-icon>
        </a>
      </li>
    </ul>
  </nav>
</header>